.qmake.stash
/ivef-sdk/Makefile
/ivef-sdk/bindings/Makefile
/ivef-sdk/bindings/build/Makefile
/ivef-sdk/bindings/build/java/Makefile
/ivef-sdk/bindings/build/java/classes/
/ivef-sdk/bindings/build/java/libdummy.so*
/ivef-sdk/bindings/build/qt/Makefile
/ivef-sdk/bindings/build/qt/tmp/
/ivef-sdk/bindings/generate/Makefile
/ivef-sdk/bindings/generate/libdummy.so*
/ivef-sdk/build/
/ivef-sdk/examples/Makefile
/ivef-sdk/examples/ilisten/Makefile
/ivef-sdk/examples/ilisten/tmp/
/ivef-sdk/examples/isim/Makefile
/ivef-sdk/examples/isim/classes/
/ivef-sdk/examples/isim/libdummy.so*
/ivef-sdk/ivef-sdk.pro.user
/ivef-sdk/schema2code/Makefile
/ivef-sdk/schema2code/tmp/
/ivef-sdk/tests/Makefile
/ivef-sdk/tests/cases/tmp/
/ivef-sdk/tests/codes/tmp/
/ivef-sdk/tests/java/Makefile
/ivef-sdk/tests/java/classes/
/ivef-sdk/tests/java/libdummy.so*
/ivef-sdk/tests/java/target/
/ivef-sdk/tests/qt/Makefile
/ivef-sdk/tests/qt/bin/
/ivef-sdk/tests/qt/tmp/
